<?xml version="1.0"?>
<!-- usage: roslaunch youbot-ros-pkg-kdl test_multi_youbot_base.launch namespace:=robot2 -->
<launch>
	<group ns="$(arg namespace)">
		<node name="youbot_keyboard_teleop_experiment" pkg="youbot-ros-pkg-kdl" type="youbot_keyboard_teleop_experiment" output="screen"/>	
	</group>
</launch>
